body,
#root {
  margin: 0;
  height: 100vh;
}

.markdown-body {
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  & > *:first-child {
    margin-top: 0;
  }
}

div::-webkit-scrollbar {
  width: 5.5px;
  height: 5.5px;
}

div::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background: #54545480;
  border-radius: 5px;
}

*::selection {
  background: #c0dfffb8;
}
